/* @override 
	http://localhost:3000/stylesheets/ad.css?1216838764
	http://localhost:3000/stylesheets/ad.css?1216907921
	http://localhost:3000/stylesheets/ad.css?1216908701
	http://localhost:3000/stylesheets/ad.css?1220096796
	http://localhost:3000/stylesheets/ad.css?1220274774
	http://localhost:3000/stylesheets/ad.css?1220303664
	http://localhost:3000/stylesheets/ad.css?1220328870
	http://localhost:3000/stylesheets/ad.css?1220406609
*/

a {
	font: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 18px;
	margin-right: 6px;
}

#main_body table tbody tr td a {
	font-size: 14px;
}

span.logout_header {
	float: right;
	text-align: right;
}

#news h1 {
	text-align: center;
}

#actions {
	text-align: center;
	border: 3px solid blue;
	height: 180px;
	background-color: #fbfebd;	
}

#actions h1 {
	text-align: center;
}

#header {
	width: 100%;
}

#status_form {
	text-align: center;
	border-bottom: 3px solid navy;
	}
#main_body {
	float: left;
	width: 75%;
	border: 3px solid navy;
	background-color: azure;
}

#left_login {
	margin-right: 10px;
	float: left;
	height: 560px;
}

#right_signup {
	width: 400px;
	position: absolute;
	left: 350px;
}

#right_login {
	float: right;
	clear: none;
	position: absolute;
	left: 350px;
	width: 400px;
}

#bottom_login {
	float: left;
	width: 100%;
	position: absolute;
	bottom: 40px;
}

#main_body table tbody tr th {
	
}

#news ul a {
	font-size: 12px;
}

#right {
	float: right;
	width: 23%;
	border: 3px solid navy;
	height: 1055px;
	
}

#main_body h1 {
	text-align: center;
	
}

#footer {
	width: 100%;
	clear: both;
}

#news {
	height: 500px;	
}

text_fields {
	background-color: #8ed1ff;
	width: 30%;
	border-style: solid;
	border-width: 1px;
	display: block;
}

#container table tbody tr td a {
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#menu_box {
	background-color: #fbfebd;
	height: auto;
	width: auto;
}

tr {
	border: 1px solid gray;
}

tbody {
	border: 1px solid gray;
}

td {
	text-align: center;
}

th {
	font: 16px "Lucida Grande", Lucida, Verdana, sans-serif;
	border: 2px solid gray;
	width: 100px;
}

body {
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}