%p
  %b First name:
  =h @contact.first_name 

%p
  %b Last name:
  =h @contact.last_name 

%p
  %b Email:
  =h @contact.email 

%p
  %b Phone:
  =h @contact.phone 

%p
  %b Cell:
  =h @contact.cell 
%p
  %b Organization 
  =h @contact.custom0

%p
  %b Twitter Screen Name
  =h @contact.screen_name

= link_to 'Edit', edit_contact_path(@contact)
= link_to 'Dashboard', :controller => "dashboard", :action => "index"